<div style="display:none">
  <p>Image to use:</p>
  <img  src="https://www.html5canvastutorials.com/demos/assets/yoda.jpg" width="20" height="27"  alt="The Scream" id="scream">
  <img #scream1 width="20" height="27" src="https://www.html5canvastutorials.com/demos/assets/yoda.jpg" alt="The Scream">
</div>
<button class="btn-btn-primary" (click)="enteringGame()">Enter to the game</button>
<div *ngIf="show_board"></div>
<canvas  #grid width="500" height="500">
</canvas>

<div>
  <select #player>
      <option value="player1">player1</option>
      <option value="player2">player2</option>
  </select>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="client.js"></script>

